@import '../../styles/variables.scss';

.typingArea {
    background-color: $typingBG;
    width: 80%;
    height: 200%;
    padding: 28px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-radius: 24px;
    color: rgba(194, 194, 194, 0.5);

    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 5px;
    font-feature-settings: 'cv11' on, 'cv02' on, 'cv03' on, 'cv04' on;
}