$mainBGcolor: #28293e;
$typingBGcolor: #3e405b;
$fontColor: #c2c2c2;
$doneColor: palegreen;
$falseColor: palevioletred;
$mainColor: #fff;
$greyColor: #808080;
$fontFamily: "Montserrat", sans-serif;

$border-radius-l: 24px;
