@import "src/styles/variables.scss";

.button {
    padding: 25px;
    border: none;
    font: inherit;
    color: $mainColor;
    background-color: $typingBGcolor;
    cursor: pointer;
    margin-right: 10px;
    border-radius: $border-radius-l;
    text-align: center;
}
