@import "../../styles/variables.scss";

.done {
    color: $doneColor;
    opacity: 0.5;
}

.active {
     box-shadow: -1px 0 #fff;
    //position: relative;
    //&::before {
    //    content: "";
    //    display: block;
    //    position: absolute;
    //    width: 3px;
    //    height: 30px;
    //    top: 0;
    //    left: 0;
    //    background: #333333;
    //}
}

.false {
    opacity: 1;
    color: $falseColor;
    //border-bottom: 2px solid palevioletred;
}

.default {
    text-decoration: none;
}
