.typingarea > span {
    font-size: 30px;
    letter-spacing: 1rem;
}


.letter-done {
    opacity: .5;
}

.letter-active {
    border-bottom: 2px solid #fff;    
}

.lettr-false {
    // background-color: palevioletred;
}

.letter-default {
    // background-color: powderblue;
}