@import "../../styles/variables.scss";

$white: #fff;
$grey: #808080;

.active {
    box-sizing: border-box;
    box-shadow: -1px 0 #fff;
    opacity: 1 !important;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: cursorAnimation;
}

.done {
    color: $doneColor;
    opacity: 0.5;
}

.false {
    opacity: 0.5;
    color: $falseColor;
}

.default {
    text-decoration: none;
}


@keyframes cursorAnimation {
    from {
        box-shadow: -1px 0 $white;
    }
    50% {
        box-shadow: -1px 0 $grey;
    }
    to {
        box-shadow: -1px 0 $white;
        opacity: 1;
    }
}
