span {
    font-size: 30px;
    letter-spacing: 1rem;
}


.letter-done {
    background-color: palegreen;
}

.letter-active {
    background-color: green;
}

.lettr-false {
    background-color: palevioletred;
}

.letter-default {
    background-color: powderblue;
}