@import "../../styles/variables.scss";

.done {
    color: $doneColor;
    opacity: 0.5;
}

.active {
    border-left: 1px solid #fff;
}

.false {
    opacity: 1;
    color: $falseColor;
    //border-bottom: 2px solid palevioletred;
}

.default {
    text-decoration: none;
}
