@import "styles/variables.scss";

.card {
    display: flex;
    align-items: center;
    text-align: center;
    font: inherit;
    background-color: $typingBGcolor;
    color: $mainColor;
    border: none;
    padding: 25px;
    margin-right: 10px;
    border-radius: $border-radius-l;
    cursor: pointer;
}
